@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .btn {
    @apply bg-gray-100 py-2 px-4 rounded-md text-sm text-gray-800 hover:ring-1 hover:ring-gray-200 focus:outline-none active:ring-gray-300 hover:shadow-md w-36 h-10 transition-shadow;
  }
  .link {
    @apply hover:underline cursor-pointer;
  }
  .footerList {
    @apply flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-6 items-center;
  }
}
